
  <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
    <ion-slide-page ng-repeat="bgColor in data.bgColors">
    <!-- <ion-content scroll="false" style="width: 100%; height: 100%; margin-top: 0px !important; padding-top: 0px !important; margin-bottom: 0px !important"> -->
		<div style="display: {{demostatus}}; height: 100%">    
    	<img src="img/Splashscreen/demo1.png">
    	</div>
    	<div style="display: {{languagestatus}}" >    
    	<img ng-src="img/Splashscreen/language.png" style="width: 90%">
    	</div>
            <div style="background-color: #662d91;width: 100%; margin-top: -10%;height: 100%;">
    <h3 style="margin-top: 10%;text-align: center;color: white; ">Select Language</h3>
      <button class="button-slider" style="color: black; border-radius: 18px;padding: 10px 30px 10px 30px; border: none; transition: all .2s; width: 45%; text-align: center;"><a ng-href="">العربية</a></button>
      
      <button class="button-slider" style="color: black; border-radius: 18px;padding: 10px 30px 10px 30px; border: none; transition: all .2s; width: 45%; margin-left: 7%; text-align: center;"><a ng-href="#/Login" href="#/Login">English</a></button>
      </div>  
<!--     </ion-content> -->
    </ion-slide-page>
  </ion-slides>

