  <ion-side-menus enable-menu-with-back-views="true">

        <ion-side-menu-content>
          <ion-nav-bar class="bar header-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color: white">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>

          <ion-nav-view name="menuContent">
            <ion-content style="margin-top: 15%">
              <div class="section2" style="
    height:;
">
    <table style="text-align: center;">
        <tbody style="
    /* height: 100%; */
"><tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 124.2px;/* height: 151px; */padding-top: 10%;padding-bottom: 10%;"><img style="margin: 3px; margin-top: 18px; width: 30% !important" src="img/Menu/Proofing.png">
          <h5>PROOFING</h5>
          </td>
          <td style=" border-bottom: 1px solid; border-right: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/cartpentry.png" style="width: 30% !important">
          <h5>CARTPENTRY</h5></td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 124.2px;"><img src="img/Menu/walls.png" style="width: 30% !important">
          <h5>WALLS</h5></td>
        </tr>


        <tr style="color:#75429c;">

          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 124.2px;/* height: 151px; */padding-top: 10%;padding-bottom: 10%;" ui-sref="Plumbing">
          <img src="img/Menu/plumbing.png" style="width: 30% !important">
          <h5>PLUBMING</h5>
          </td>

          <td style=" border-bottom: 1px solid; border-right: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/electrical@2x.png" style="width: 30% !important">
          <h5>ELECTRICAL</h5></td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/decor.png" style="width: 30% !important">
          <h5>DECOR</h5></td>
        </tr>

        <tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 124.2px;/* height: 151px; */padding-top: 10%;padding-bottom: 10%;"><img src="img/Menu/cleaning.png" style="width: 30% !important">
          <h5>CLEANING</h5>
          </td>
          <td style=" border-bottom: 1px solid; border-right: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/pest_control.png" style="width: 30% !important">
          <h5>PEST CONTROL</h5></td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/lanscapping.png" style="width: 30% !important">
          <h5>LANDSCAPPING</h5></td>
        </tr>

        <tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 124.2px;/* height: 151px; */padding-top: 10%;padding-bottom: 15%;"><img src="img/Menu/tiling.png" style="width: 30% !important">
          <h5>TILING</h5>
          </td>
          <td style=" border-bottom: 1px solid; border-right: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/A.C.png" style="width: 30% !important">
          <h5>A.C</h5></td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/installation.png" style="width: 30% !important">
          <h5>INSTALLATION SERVICES</h5></td>
        </tr>
    </tbody></table>
    <!-- <div class="row" style=" margin: 0px !important;">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" style="text-align: center; margin-top: 50%;">
        <button class="button-slider" style="font-family:  Roboto Regular; color: white !important; background-color: #75429c; border-radius: 50px;padding: 10px 30px 10px 30px; border: none; transition: all .2s; width: 70%; text-align: center;margin-left: 6% !important; height: 8%;"><a href=""><a style="color: white;" href="">SignIn</a></button>
        <br><br>
      
      <button class="button-slider" style="font-family:  Roboto Regular; color: #75429c !important; border-radius: 50px;padding: 10px 30px 10px 30px; border: none; transition: all .2s; width: 70%; text-align: center;margin-left: 6% !important; height: 8%;"><a style="color:#75429c;" href="">SignUp</a></button>
      <br><br>
      <h5 style="font-family: Roboto Regular;margin: 60px;font-size: 17px; font-weight: lighter; color:#75429c; ">If you are a Vendor,<a style="color: #6f3b97; font-weight: 900; padding: 1%; border-bottom: 2px solid
       #6f3b97;" href=""> Signup</a> here</h5>
      </div>
      <div class="col-md-4">
      </div>
    </div> -->
  </div>
            </ion-content>
          </ion-nav-view>
        </ion-side-menu-content> 

        <ion-side-menu side="left" width="180">
          <ion-header-bar class="bar menu-bar bar-header" style="height: 30%">
            <!-- <h1 class="title" style="background-color: #302F2F; color: white">Left Menu</h1> -->
            <img src="img/Menu/camera.png" style="
              width: 15px;
              height: 12px;
              margin-left: 74%;
              margin-top: 12%;
              ">
            <img src="img/Menu/ellipse_pic.png" style="
              margin-left: -113px;
              height: 107px;
              margin-top: 19px;
          ">
          <img src="img/Menu/edit.png" style="
              width: 15px;
              height: 12px;
              margin-left: -7px;
              margin-top: 72%;
          ">
          <div style="
            margin-left: -100px;
            margin-top: 79%;
            width: 50%;
            font-weight: bold;
            color: white;
        ">Abdul Aziz</div>
        <img src="img/Menu/underline.png" style="
            height: 5px;
            margin-top: 149px;
            margin-left: -89px;
            width: 100px;
        ">

          </ion-header-bar>
          <ion-content class="menu-setting" style="background-color: #302F2F">
            <ul class="list" style="margin-left: 20%;">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <div>
              <img src="img/Menu/home.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Home</a>
              </div>

              <div>
              <img src="img/Menu/search.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Search</a>
              </div>

              <div>
              <img src="img/Menu/invoice.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Invoice</a>
              </div>

              <div>
              <img src="img/Menu/my_booking.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">My Bookings</a>
              </div>

              <div>
              <img src="img/Menu/track.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Track</a>
              </div>

              <div>
              <img src="img/Menu/setting.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Setting</a>
              </div>

              <div>
              <img src="img/Menu/help.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Help</a>
              </div>
            </ul>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>

       