<ion-header-bar class="bar header-bar">
<div class="buttons">
    <a ng-click="myGoBack()"> <i class="icon ion-chevron-left" style="color: white;font-size: 35px"></i></a>
  </div>
  <h1 class="title" style="text-align: center; color: white">Forget Password</h1>
</ion-header-bar>
	<ion-content class="has-header">
		<div align="center">
			<img src="img/login/logo.png" width="170">
		</div>
		<form>
			<span class="item-input item-stacked-label">
				<span class="input-label" style="color: #2B2765; width: 90%">Email Your Registerted Email Address</span><br>
				<div style="border-bottom: 1px solid">
					<img src="img/Signin/email.png">
					<div style=""><input type="text" placeholder="John@gmail.com" style="color:#2B2765; width: 50%; padding-left: 10%;margin-top: -30px; margin-left: 10px"></div>
				</div>

			</span>
			<div align="center">
				<br>
				<br>
				<br>
				<br>
				<button class="button-slider" style="background-color: #662d91; border-radius: 20px;padding: 15px 40px 15px 40px; border: none; transition: all .2s; width: 70%; margin-left: 7%; text-align: center;"><span style="color: white">Submit</span>
				</button>
			</div>
		</form>

	</ion-content>


 