<!-- <ion-nav-bar class="bar your-sample-class" ></ion-nav-bar> -->
<ion-header-bar class="bar header-bar">
  <h1 class="title" style="text-align: center; color: white">Login</h1>
</ion-header-bar>
<ion-content class="has-header">
<div class="list list-inset" style="align-items: center">
	<div align="center">
	<img src="img/login/logo.png" width="170">
	</div>
	<div style="padding-top: 50%" align="center">
	<a ui-sref="Signin" style="text-decoration: none;">
	<button class="button button-block button-royal" style="border-radius:20px;width: 70%; background-color: #662d91">
  	Sign in
	</button>
	</a>

	<a ui-sref="Signup" style="text-decoration: none;">
	<button class="button button-block button-royal" style="border-radius:20px;width: 70%; background-color: #DCDCDC;">
  	<span style="color:#662d91;">Sign up</span>
	</button>
	</a>
	</div>
	<br>
	<div style="text-align: center">
		<span style="color: #662d91">
			If You are  vender <a href="" style="color:#662d91">Sign up</a> here
		</span>
	</div>
</div>

</ion-content>
