
            <ion-content style="margin-top: 9%">
              <div class="section2">
    <table style="text-align: center;">
        <tbody><tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 186.5px;/* height: 151px; */padding-top: 8;padding-top: 8%;padding-bottom: 8%;"><img style="margin: 3px;margin-top: 18px;width: 30% !important;" src="img/Plumbing/wash_basin.png">
          <h5>WASH BASIN</h5>
          </td>
          <td style=" border-bottom: 1px solid;  text-align: center; width: 186.5px; "><img src="img/Plumbing/leaks.png" style="
    width: 30% !important;
">
          <h5>LEAKS</h5></td>
        </tr>

        <tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 186.5px;/* height: 151px; */padding-top: 8%;padding-bottom: 8%;"><img src="img/Plumbing/taps.png" style="margin-left:22%;width: 30% !important;">
          <h5>TAPS</h5>
          </td>
          <td style=" border-bottom: 1px solid;  text-align: center; width: 186.5px; "><img src="img/Plumbing/shower.png" style="
    width: 30% !important;
">
          <h5>RISEN &amp; SHOWER</h5></td>
          
        </tr>

        <tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 186.5px;/* height: 151px; */padding-top: 8%;padding-bottom: 8%;"><img src="img/Plumbing/bath_tub.png" style="
    width: 30% !important;
">
          <h5>BATH TUBS</h5>
          </td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 186.5px; "><img src="img/Plumbing/toilets.png" style="
    width: 30% !important;
">
          <h5>TOILETS</h5></td>
          
        </tr>

        <tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 186.5px;/* height: 151px; */padding-top: 8%;padding-bottom: 8%;"><img src="img/Plumbing/heather.png" style="
    width: 30% !important;
">
          <h5>WATER HEATERS</h5>
          </td>
          <td style=" border-bottom: 1px solid; ; text-align: center; width: 186.5px; "><img src="img/Plumbing/water_pump.png" style="
    width: 30% !important;
">
          <h5>WATER PUMP &amp; FLOAT VALVES</h5></td>
          
        </tr>
        <tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 186.5px;/* height: 151px; */padding-top: 8%;padding-bottom: 8%;"><img src="img/Plumbing/blunders.png" style="
    width: 30% !important;
">
          <h5>BLENDERS</h5>
          </td>
          <td style=" border-bottom: 1px solid; ; text-align: center; width: 186.5px; "><img src="img/Plumbing/other.png" style="
    width: 30% !important;
">
          <h5>OTHER</h5></td>
          
        </tr>
    </tbody></table>
  </div>
            </ion-content>
 

       