  <ion-side-menus enable-menu-with-back-views="true">

        <ion-side-menu-content>
          <ion-nav-bar class="bar header-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color: white">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>

          <ion-nav-view name="menuContent">
            <ion-content style="margin-top: 10%">
            		<div style="width: 100%; height: 25%; background-color: white">
  			<img src="img/Vendor/ellipse.png" style="
			    height: 66%;
			    margin-top: 2%;
			    margin-left: 2%;
			">
			<div style="
			    margin-left: 30%;
			    margin-top: -28%;
			    font-size: 30px;
			">
							Mr. Electric
			</div>
			<div style="
			    margin-left: 27%;
			">
				<div style="
				    margin-top: -5%;
				    margin-left: 4%;
				">
				<button class="button button-block button-royal" style="border-radius:20px;width: 47%;background-color: #DCDCDC;">
			  	<span style="color:#662d91;">ELECTRIC</span>
				</button>
				<button class="button button-block button-royal" style="border-radius:20px;width: 40%;background-color: #DCDCDC;margin-left: 48%;margin-top: -22%;">
			  	<span style="color:#662d91;">WIRING</span>
				</button>
				<button class="button button-block button-royal" style="border-radius:20px;width: 69%;background-color: #DCDCDC;margin-top: -1%;">
			  	<span style="color:#662d91;">INSTALLING</span>
				</button>
				<div style="
    margin-left: 87%;
    margin-top: -35%;
">
					<button><img src="img/Vendor/fwd.png" style="color: red"></button>
				</div>
				</div>

			</div>
			<div style="
			    margin-left: -4%;
			    margin-top: 5%;
			">
							<img src="img/Vendor/yellow_star.png" style="margin-left: 4%">
							<img src="img/Vendor/yellow_star.png" style="margin-left: -2%;">
							<img src="img/Vendor/yellow_star.png" style="margin-left: -2%;">
							<img src="img/Vendor/yellow_star.png" style="margin-left: -2%;">
							<img src="img/Vendor/black_star.png" style="margin-left: -2%;">
			</div>
  			</div>
                    </ion-content>
          </ion-nav-view>
        </ion-side-menu-content> 

        <ion-side-menu side="left" width="180">
          <ion-header-bar class="bar menu-bar bar-header" style="height: 30%">
            <!-- <h1 class="title" style="background-color: #302F2F; color: white">Left Menu</h1> -->
            <img src="img/Menu/camera.png" style="
              width: 15px;
              height: 12px;
              margin-left: 74%;
              margin-top: 12%;
              ">
            <img src="img/Menu/ellipse_pic.png" style="
              margin-left: -113px;
              height: 107px;
              margin-top: 19px;
          ">
          <img src="img/Menu/edit.png" style="
              width: 15px;
              height: 12px;
              margin-left: -7px;
              margin-top: 72%;
          ">
          <div style="
            margin-left: -100px;
            margin-top: 79%;
            width: 50%;
            font-weight: bold;
            color: white;
        ">Abdul Aziz</div>
        <img src="img/Menu/underline.png" style="
            height: 5px;
            margin-top: 149px;
            margin-left: -89px;
            width: 100px;
        ">

          </ion-header-bar>
          <ion-content class="menu-setting" style="background-color: #302F2F">
            <ul class="list" style="margin-left: 20%;">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <div>
              <img src="img/Menu/home.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Home</a>
              </div>

              <div>
              <img src="img/Menu/search.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Search</a>
              </div>

              <div>
              <img src="img/Menu/invoice.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Invoice</a>
              </div>

              <div>
              <img src="img/Menu/my_booking.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">My Bookings</a>
              </div>

              <div>
              <img src="img/Menu/track.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Track</a>
              </div>

              <div>
              <img src="img/Menu/setting.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Setting</a>
              </div>

              <div>
              <img src="img/Menu/help.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Help</a>
              </div>
            </ul>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>

       