/* Empty. Add your own CSS if you like */
input::-webkit-input-placeholder {
color:#2B2765;
}

.header-bar{
  background: #662d91
}

.haut { 
	height: 710px!important; 
	border-bottom: none!important;
}

.menu-bar{
	background-color: #302F2F

}


.menu-setting {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  padding-top: 100%;
   }
